# Web Framework & Server
Flask
gunicorn

# Database (MySQL & General)
pymysql
flask-mysqldb
Flask-SQLAlchemy

# Firebase Integration
firebase-admin

# API & Utilities
flask-cors
requests

# Security
Werkzeug
Flask-Bcrypt

# Environment & Forms
python-dotenv
Flask-WTF
email-validator
