# Web Framework & Server
Flask==3.0.2
gunicorn==21.2.0

# Database (MySQL & General)
pymysql==1.1.0
flask-mysqldb==1.2.0
Flask-SQLAlchemy==3.1.1

# Firebase Integration
firebase-admin==6.5.0

# API & Utilities
flask-cors==4.0.0
requests==2.31.0

# Security
Werkzeug==3.0.1
Flask-Bcrypt==1.0.1

# Environment & Forms
python-dotenv==1.0.1
Flask-WTF==1.2.1
email-validator==2.1.0.post1
